@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Lista de Tarefas</h1>
    <p class="lead">Gerencie suas tarefas de forma simples e eficaz.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Tarefas" asp-action="Index">Ver Tarefas</a>
</div>
